/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \***************************************************************************************************************/
html, body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #2b2b2b;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

canvas {
  display: block;
  background-color: #4d4d4d;
  grid-column: 2;
  grid-row: 2;
}
